* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon-size {
  width: 55px;
}

.icon-giro {
  transition-duration: 3s;
}
.icon-giro:hover {
  transform: rotatey(360deg);
}

.bg-color {
  background-color: rgb(0, 1, 23);
}

.bg-black {
  background-color: black;
}

@media (max-width: 400px) {
  .font-size {
    font-size: 0.8em;
  }
}
.input-style {
  width: 100%;
}

.img-carousel {
  display: inline-block;
  width: 100%;
  height: 70vh;
}
@media (max-width: 400px) {
  .img-carousel {
    height: 40vh;
  }
}
@media (max-width: 820px) {
  .img-carousel {
    height: 60vh;
  }
}

.new {
  overflow: hidden;
  position: relative;
}
.new-font {
  font-size: large;
}
.new-img {
  height: 100%;
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.new-img:hover {
  transform: scale(1.5);
}
.new h3 {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.hov :hover {
  background-color: #FF4D55;
}

.team-size {
  width: 34px;
}
.team-size2 {
  width: 28px;
}

.bg-red {
  background-color: #FF7D80;
}

.ranking-team {
  display: flex;
}
.ranking-team--num {
  width: 5%;
}
.ranking-team--name {
  width: 20%;
}

.ranking-img {
  background-image: url(../imagenes/equipos/ranking.png);
  background-position: 50%;
  background-size: 200px;
  background-repeat: no-repeat;
  height: 60px;
}

.animation-teams:hover {
  transform: scale(1.03);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 5px 5px 5px;
}

.promo {
  background-image: url(../imagenes/aside.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.promo a {
  font-family: "Righteous", cursive;
  font-size: x-large;
  color: white;
}
.promo a:hover {
  color: rgb(224, 156, 242);
}

.bg-color-cont {
  background: #C04848;
  background: -webkit-linear-gradient(to right, #480048, #C04848);
  background: linear-gradient(to right, #480048, #C04848);
}

.linea {
  border-bottom: medium solid #6E12CB;
}

.tournament--principal {
  box-shadow: -1px 2px 21px -3px rgb(0, 0, 0);
  -webkit-box-shadow: -1px 2px 21px -3px rgb(0, 0, 0);
  -moz-box-shadow: -1px 2px 21px -3px rgb(0, 0, 0);
  background-color: #dbdbdb;
  color: #5D5E61;
  transition: 0.5s all ease-in-out;
}
.tournament--principal--top {
  height: 40vh;
  position: relative;
}
.tournament--principal--top span {
  position: absolute;
  background-color: #ED2939;
  color: white;
  border-radius: 5px;
  right: 1%;
  top: 2%;
}
.tournament--principal--top h2 {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(179, 4, 4, 0) 100%);
}
.tournament--principal--top img {
  width: 100%;
  height: 100%;
}
.tournament--principal--bot--data {
  text-align: center;
  font-family: "Signika", sans-serif;
}
.tournament--principal:hover {
  transform: scale(1.02);
}
.tournament--secondary {
  box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #dbdbdb;
  color: #5D5E61;
  transition: 0.5s all ease-in-out;
}
.tournament--secondary--top {
  height: 25vh;
  position: relative;
}
.tournament--secondary--top span {
  position: absolute;
  background-color: #5D5E61;
  color: white;
  border-radius: 5px;
  right: 1%;
  top: 4%;
}
.tournament--secondary--top h3 {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(179, 4, 4, 0) 100%);
}
.tournament--secondary--top img {
  width: 100%;
  height: 100%;
}
.tournament--secondary--bot--data {
  text-align: center;
  font-family: "Signika", sans-serif;
}
.tournament--secondary:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  #disabled {
    display: none;
  }
  .tournament--principal--top {
    background-image: url(../imagenes/torneos/esl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  .tournament--principal--top img {
    display: none;
  }
  .tournament--secondary--top {
    background-image: url(../imagenes/torneos/rio.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  .tournament--secondary--top img {
    display: none;
  }
  #torn-2 {
    background-image: url(../imagenes/torneos/eslchall.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  #torn-2 img {
    display: none;
  }
  #torn-3 {
    background-image: url(../imagenes/torneos/blpremier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  #torn-3 img {
    display: none;
  }
  #torn-4 {
    background-image: url(../imagenes/torneos/premier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  #torn-4 img {
    display: none;
  }
  #torn-5 {
    background-image: url(../imagenes/torneos/cct.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  #torn-5 img {
    display: none;
  }
  #torn-6 {
    background-image: url(../imagenes/torneos/swiss.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  #torn-6 img {
    display: none;
  }
}
.h2-fix--responsive {
  display: none;
}

@media (max-width: 480px) {
  .h2-fix {
    display: none;
  }
  .h2-fix--responsive {
    display: block;
  }
}
@media (max-width: 500px) {
  .tournament--secondary--bot .fix-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .tournament--secondary--bot--disabled {
    display: none;
  }
}
.background-wave {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

.grilla {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.not--csgo {
  position: relative;
  border-radius: 10px;
}
.not--csgo--principal {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.not--csgo--principal:hover {
  transform: scale(1.02);
  transition-duration: 1s;
  box-shadow: -1px 2px 21px -3px rgb(0, 0, 0);
  -webkit-box-shadow: -1px 2px 21px -3px rgb(0, 0, 0);
  -moz-box-shadow: -1px 2px 21px -3px rgb(0, 0, 0);
}
.not--csgo--principal--txt {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.not--csgo--img {
  width: 100%;
  border-radius: 10px;
}
.not--csgo--txt {
  border-radius: 0 0 10px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40px;
  text-align: center;
  margin-bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.not--csgo--txt p {
  visibility: hidden;
  opacity: 0;
}
.not--csgo:hover {
  transform: scale(1.02);
  transition-duration: 1s;
  box-shadow: -1px 2px 21px -3px rgb(0, 0, 0);
  -webkit-box-shadow: -1px 2px 21px -3px rgb(0, 0, 0);
  -moz-box-shadow: -1px 2px 21px -3px rgb(0, 0, 0);
}
.not--csgo:hover .not--csgo--txt {
  height: 82px;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.not--csgo:hover .not--csgo--txt p {
  opacity: 1;
  visibility: visible;
}

.cont-flex {
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .not--csgo--principal--txt p {
    display: none;
  }
}
@media (max-width: 1200px) {
  #not-fix-txt p {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
