* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* barra de navegacion  inicio*/
.icon-size{
    width: 55px;
}
.bg-color {
    background-color: rgb( 0, 1, 23);
}
.icon-giro {
    transition-duration: 3s;   
}
.icon-giro:hover {
    transform:rotatey(360deg);
}
/* barra de navegacion  fin*/

/* index inicio*/
.new {
    overflow: hidden;
    position: relative;

}
.new img {
    height: 100%;
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.new:hover img {
    transform: scale(1.5);
}
.new h3{
    color: white;
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}
.new-font {
    font-size:large;
}

.img-carousel {
    display: inline-block;
    width: 100%;
    height: 70vh;
}
@media (max-width: 400px) {
    .img-carousel {
        height: 40vh;
    }
}
@media (max-width: 820px) {
    .img-carousel {
        height: 60vh;
    }
}
/* main-index fin*/

/* footer inicio*/
.bg-black {
    background-color: black;
}
@media (max-width:400px){
    .font-size{
        font-size: .8em;
    }
}
    

/* footer fin*/

/* main-equipos inicio*/
.hov :hover {
    background-color: #FF4D55;
}
.team-size {
    width: 34px;
}
.team-size2 {
    width: 28px;
}
.bg-red {
    background-color: #FF7D80;
}
.ranking-team{
    display: flex;
    
}
.ranking-team--num{
    width: 5%;
}
.ranking-team--name{
    width: 20%;
}
.promo {
    background-image: url(../imagenes/aside.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.promo a{
    font-family: 'Righteous', cursive;
    font-size: x-large;
    color: white;
}
.promo a:hover {
    color: rgb(224, 156, 242);
}
.ranking-img {
    background-image: url(../imagenes/equipos/ranking.png);
    background-position: 50%;
    background-size: 200px;
    background-repeat: no-repeat;
    height: 60px;
}
.animation-teams:hover {
    transform: scale(1.03);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 5px 5px 5px;
}
.bg-color-cont{
    background: #C04848;
    background: -webkit-linear-gradient(to right, #480048, #C04848);
    background: linear-gradient(to right, #480048, #C04848);
}
/* main-equipos fin*/

/* main-torneos inicio*/
.principal {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 50vh;
    margin: 0.5em auto 0.5em auto;
    border: solid 1px black ;
}
.pricipal--nombre {
    display: flex;
    background-image: url(../imagenes/torneos/esl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.principal--informacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.principal--informacion p{
    display: inline-block;
}
.torneo {
    display: block;
    width: 98%;
    height: 15vh;
    margin: 0.5em auto 0.5em auto;
    border: solid 1px black ;
}
.torneo--nombre {
    background-color: rgb(217, 217, 217);
    height: 80%;
}
.torneo--informacion {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.torneo--informacion p {
    display: inline-block;
}

/* main-torneos fin*/

/* main-galeria inicio*/
.galeria--eventos {
    margin-bottom: 5vh;
}
.galeria--eventos h1{
    height: 10vh;
    background-color: rgb(120, 51, 225);
}
.galeria--contenedor--eventos {
    display: block;
}
.galeria--contenedor--eventos h3 {
    width: 20vw;
    margin: auto;
}
.galeria--contenedor--eventos--img {
    display: flex;
    flex-wrap: wrap;
}
.galeria--contenedor--eventos--img img{
    display: inline-block;
    width: 50%;
    height: 33,3%;
}
.galeria--contenedor--equipos {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.galeria--contenedor--equipos img {
    width: 25%;
    height: 16,65%;
}
.galeria--contenedor--jugadores {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.galeria--contenedor--jugadores img {
    width: 25%;
    height: 16,65%;
}
/* main-galeria fin*/

/* main-noticia inicio */
.noticias--popular h1 {
    height: 12vh;
    background-color: rgb(120, 51, 225);
}
.noticias--popular--principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticias--popular--principal img {
    height: 80%;
    width: 70vw;
    border: solid 1px black;
}
.noticias--popular--principal--texto {
    height: 20%;
    width: 70vw;
    border: solid 1px black;
}
.noticias--csgo {
    margin-top: 5vh;
    margin-bottom:5vh ;
}
.noticias--contenedor {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    justify-content: space-around;
}
.noticias--csgo--nota {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    border: solid 1px black;
}
.noticias--csgo--nota img {
    height: 80%;
}

/* main-noticia fin */

/* main-soporte inicio */
.input-style {
    width: 100%;
}
/* main-soporte fin */

