.prueba {
    background-image: url(../imagenes/equipos/ranking.png);
    background-position: 50%;
    background-size: 100px;
    background-repeat: no-repeat;
    height: 22px;
}
.hov :hover {
    background-color: rgb(255, 62, 59);
}
.team-size {
    width: 34px;
}
.team-size2 {
    width: 28px;
}
.bg-red {
    background-color: rgb(241, 89, 89);
}
.ranking-team{
    display: flex;
    
}
.ranking-team--num{
    width: 5%;
}
.ranking-team--name{
    width: 20%;
}
.promo {
    background-image: url(../imagenes/aside.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    font-family: 'Righteous', cursive;
}