.form-style {
    transition: 0.5s all ease-in-out;
    background-color:transparent;
    color: white;
    &:focus, &:hover{
        box-shadow: 0px 2px 18px 0px white;
        -webkit-box-shadow: 0px 2px 18px 0px white;
        -moz-box-shadow: 0px 2px 18px 0px white;
        border-color: white;
        border: none;
        outline: 0;
        background-color:transparent;
        color: white;
    }
    &::placeholder{
        color: white;
    }
}
.soporte-box {
    background-image: url(../imagenes/fondo-support.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo-opaco{
    background-color: rgba(0, 0, 0, .5);
}
